* {
  margin: 0 auto;
}

.quantity-label {
  font-size: 19px;
}
.botao {
  background-color: #545557;
  color: rgb(17, 17, 17);
  border: none;
  padding: 8px 16px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
